In [28]:
from __future__ import unicode_literals
import pandas as pd
import numpy as np

# 1. Loading data - 28 weeks of life of the banana plant 
---

We load the different datasets which compose the  time series from January 12th to August 03rd

## 1.1. Loading phreatic level  dataset - From January 12th to April 12th

In [29]:
phreatic_level_Jan12_Apr12_28w = pd.read_csv('../../../../data/raw/FincaPorvenir/Drenajes/DatosNivelFreatico/28-weeks_January-12_August-03_2018/' \
                                 'From_2018-01-12 00_00_00_To_2018-04-12 23_59_59.csv', )

In [30]:
print("THE DIMENSIONALITY IS: " +'\n')
print(phreatic_level_Jan12_Apr12_28w.shape)
# Numero de columnas
print("Columns number", len(phreatic_level_Jan12_Apr12_28w.columns))
# Numero de registros de la columna PORVL10N1
print("PORVL10N1 column rows number",len(phreatic_level_Jan12_Apr12_28w.PORVL10N1))
phreatic_level_Jan12_Apr12_28w.head()

THE DIMENSIONALITY IS:

(2149, 76)
Columns number 76
PORVL10N1 column rows number 2149

,Fecha,Hora,PORVL2N1,Fecha.1,Hora.1,PORVL2N2,Fecha.2,Hora.2,PORVL4N1,Fecha.3,...,PORVL21N4,Fecha.22,Hora.22,PORVL21N5,Fecha.23,Hora.23,PORVL24N1,Fecha.24,Hora.24,PORVL24N2
0,2018-01-12,01:37:47,0.65,2018-01-12,01:58:22,0.71,2018-01-12,01:28:49,0.96,2018-01-12,...,1.01,2018-01-12,01:33:02,0.96,2018-01-12,01:23:18,0.86,2018-01-12,01:07:28,1.31
1,2018-01-12,02:37:45,0.65,2018-01-12,02:58:22,0.71,2018-01-12,02:28:49,0.96,2018-01-12,...,1.01,2018-01-12,02:33:04,0.97,2018-01-12,02:23:17,0.85,2018-01-12,02:07:28,1.31
2,2018-01-12,03:37:50,0.64,2018-01-12,03:58:23,0.71,2018-01-12,03:28:50,0.96,2018-01-12,...,1.01,2018-01-12,03:33:05,0.94,2018-01-12,03:23:18,0.97,2018-01-12,03:07:29,1.31
3,2018-01-12,04:37:44,0.63,2018-01-12,04:58:23,0.71,2018-01-12,04:28:52,0.95,2018-01-12,...,1.01,2018-01-12,04:33:05,0.93,2018-01-12,04:23:19,0.96,2018-01-12,04:07:27,1.31
4,2018-01-12,05:37:45,0.61,2018-01-12,05:58:24,0.71,2018-01-12,05:28:48,0.94,2018-01-12,...,1.01,2018-01-12,05:33:06,0.92,2018-01-12,05:23:19,0.95,2018-01-12,05:07:27,1.31

## 1.2 Loading phreatic level dataset From April 13th to August 03th

In [31]:
phreatic_level_Apr13_Aug03_28w = pd.read_csv('../../../../data/raw/FincaPorvenir/Drenajes//DatosNivelFreatico/28-weeks_January-12_August-03_2018/' \
                                 'From_2018-04-13 00_00_00_To_2018-08-03 23_59_59.csv', )

In [32]:
print(phreatic_level_Apr13_Aug03_28w.shape)
# Numero de columnas
print("Columns number", len(phreatic_level_Apr13_Aug03_28w.columns))
# Numero de registros de la columna PORVL10N1
print("PORVL10N1 column rows number",len(phreatic_level_Apr13_Aug03_28w.PORVL10N1))
phreatic_level_Apr13_Aug03_28w.head()

(2731, 76)
Columns number 76
PORVL10N1 column rows number 2731

,Fecha,Hora,PORVL2N1,Fecha.1,Hora.1,PORVL2N2,Fecha.2,Hora.2,PORVL4N1,Fecha.3,...,PORVL21N4,Fecha.22,Hora.22,PORVL21N5,Fecha.23,Hora.23,PORVL24N1,Fecha.24,Hora.24,PORVL24N2
0,2018-04-13,01:01:31,1.32,2018-04-13,01:13:01,1.27,2018-04-13,01:34:10,1.46,2018-04-13,...,1.7,2018-04-13,01:46:49,1.7,2018-04-13,01:15:52,1.47,2018-04-13,01:19:31,1.7
1,2018-04-13,02:01:30,1.32,2018-04-13,02:12:59,1.28,2018-04-13,02:34:10,1.46,2018-04-13,...,1.7,2018-04-13,02:46:52,1.7,2018-04-13,02:15:52,1.47,2018-04-13,02:19:32,1.7
2,2018-04-13,03:01:30,1.33,2018-04-13,03:13:00,1.28,2018-04-13,03:34:08,1.46,2018-04-13,...,1.7,2018-04-13,03:46:52,1.7,2018-04-13,03:15:52,1.47,2018-04-13,03:19:31,1.7
3,2018-04-13,04:01:30,1.33,2018-04-13,04:12:58,1.28,2018-04-13,04:34:08,1.46,2018-04-13,...,1.7,2018-04-13,04:46:54,1.7,2018-04-13,04:15:53,1.47,2018-04-13,04:19:31,1.7
4,2018-04-13,05:01:31,1.33,2018-04-13,05:13:01,1.28,2018-04-13,05:34:11,1.46,2018-04-13,...,1.7,2018-04-13,05:46:53,1.7,2018-04-13,05:15:52,1.47,2018-04-13,05:19:32,1.7

## 1.3 Forming the whole phreatic level dataset - January 12th to August 3rd 

We have the following dataframes:

`phreatic_level_Jan12_Apr12_28w` and `phreatic_level_Apr13_Aug03_28w`

Together match with shape (columns and rows).
We can concatenate them of this way:

In [52]:
phreatic_level_28w_df = pd.concat([phreatic_level_Jan12_Apr12_28w, phreatic_level_Apr13_Aug03_28w])
print(phreatic_level_28w_df.shape)
phreatic_level_28w_df.to_csv('TestNFwhole.csv', sep=',', header=True, index=False)
phreatic_level_28w_df.head()

(4880, 76)

,Fecha,Hora,PORVL2N1,Fecha.1,Hora.1,PORVL2N2,Fecha.2,Hora.2,PORVL4N1,Fecha.3,...,PORVL21N4,Fecha.22,Hora.22,PORVL21N5,Fecha.23,Hora.23,PORVL24N1,Fecha.24,Hora.24,PORVL24N2
0,2018-01-12,01:37:47,0.65,2018-01-12,01:58:22,0.71,2018-01-12,01:28:49,0.96,2018-01-12,...,1.01,2018-01-12,01:33:02,0.96,2018-01-12,01:23:18,0.86,2018-01-12,01:07:28,1.31
1,2018-01-12,02:37:45,0.65,2018-01-12,02:58:22,0.71,2018-01-12,02:28:49,0.96,2018-01-12,...,1.01,2018-01-12,02:33:04,0.97,2018-01-12,02:23:17,0.85,2018-01-12,02:07:28,1.31
2,2018-01-12,03:37:50,0.64,2018-01-12,03:58:23,0.71,2018-01-12,03:28:50,0.96,2018-01-12,...,1.01,2018-01-12,03:33:05,0.94,2018-01-12,03:23:18,0.97,2018-01-12,03:07:29,1.31
3,2018-01-12,04:37:44,0.63,2018-01-12,04:58:23,0.71,2018-01-12,04:28:52,0.95,2018-01-12,...,1.01,2018-01-12,04:33:05,0.93,2018-01-12,04:23:19,0.96,2018-01-12,04:07:27,1.31
4,2018-01-12,05:37:45,0.61,2018-01-12,05:58:24,0.71,2018-01-12,05:28:48,0.94,2018-01-12,...,1.01,2018-01-12,05:33:06,0.92,2018-01-12,05:23:19,0.95,2018-01-12,05:07:27,1.31

In [34]:
print(phreatic_level_28w_df.shape)
phreatic_level_28w_df.isnull().values.any()

(4880, 76)

True

In [35]:
phreatic_level_28w_df.columns

Index(['Fecha', 'Hora', 'PORVL2N1', 'Fecha.1', 'Hora.1', 'PORVL2N2', 'Fecha.2',
       'Hora.2', 'PORVL4N1', 'Fecha.3', 'Hora.3', 'PORVL5N1', 'Fecha.4',
       'Hora.4', 'PORVL6N1', 'Fecha.5', 'Hora.5', 'PORVL7N1', 'Fecha.6',
       'Hora.6', 'PORVL8N1', 'Fecha.7', 'Hora.7', 'PORVL9N1', 'Fecha.8',
       'Hora.8', 'PORVL10N1', 'Fecha.9', 'Hora.9', 'PORVL13N1', 'Fecha.10',
       'Hora.10', 'PORVL14N1', 'Fecha.11', 'Hora.11', 'PORVL15N1', 'Fecha.12',
       'Hora.12', 'PORVL16N1', 'Fecha.13', 'Hora.13', 'PORVL16N2', 'Fecha.14',
       'Hora.14', 'PORVL18N1', 'Fecha.15', 'Hora.15', 'PORVL18N2', 'Fecha.16',
       'Hora.16', 'PORVL18N3', 'Unnamed: 51', 'Fecha.17', 'Hora.17',
       'PORVL18N4', 'Fecha.18', 'Hora.18', 'PORVL21N1', 'Fecha.19', 'Hora.19',
       'PORVL21N2', 'Fecha.20', 'Hora.20', 'PORVL21N3', 'Fecha.21', 'Hora.21',
       'PORVL21N4', 'Fecha.22', 'Hora.22', 'PORVL21N5', 'Fecha.23', 'Hora.23',
       'PORVL24N1', 'Fecha.24', 'Hora.24', 'PORVL24N2'],
      dtype='object')

# 2. Exporting phreatic level dataset by lots and nodes.

We going to export phreatic level data by lots and nodes. This mean, we take the 
`Fecha.x` and `Hora.x` and the `PORVLxNx` (lot and node to which they belong)

We going to export only these columns.

In [14]:
# http://bluegalaxy.info/codewalk/2017/06/02/pandas-how-to-export-a-dataframe-to-csv/

def partial_dataframe_to_csv(filename, DataFrame, columns):
    """Export a portion of a DataFrame to csv."""
    output = DataFrame
    # Write only the fields found in the columns list
    output = output[columns]
    output.to_csv(filename, sep=',', header=True, index=False) 

# initial_columns_to_export = ['Fecha', 'Hora', 'PORVL2N1']

## 2.1 Exporting Nodes values of lots 2 - L2

The LOT2 (L2) have N1 and N2

In [44]:
# We begin export the 'Fecha', 'Hora', 'PORVL2N1' columns
# partial_dataframe_to_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL2N1_portion.csv',phreatic_level_28w_df, initial_columns_to_export)

In [77]:
for i in range(1,25):
    
    if(i==2):        
        # To N1
        columns_to_export_L2N1 = ['Fecha', 'Hora', 'PORVL{}N{}'.format(i,i-1)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i, i-1), phreatic_level_28w_df, columns_to_export_L2N1)
        
        # To N2
        columns_to_export = ['Fecha.{}'.format(i-1), 'Hora.{}'.format(i-1), 'PORVL{}N{}'.format(i,i)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL2N{}_portion.csv".format(i), phreatic_level_28w_df, columns_to_export)
        
    elif(i==4):
        columns_to_export = ['Fecha.{}'.format(i-2), 'Hora.{}'.format(i-2), 'PORVL{}N{}'.format(i,i-3)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-3), phreatic_level_28w_df, columns_to_export)
        
    elif(i==5):
        columns_to_export = ['Fecha.{}'.format(i-2), 'Hora.{}'.format(i-2), 'PORVL{}N{}'.format(i,i-4)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-4), phreatic_level_28w_df, columns_to_export)
    
    elif(i==6):
        columns_to_export = ['Fecha.{}'.format(i-2), 'Hora.{}'.format(i-2), 'PORVL{}N{}'.format(i,i-5)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-5), phreatic_level_28w_df, columns_to_export)
    
    elif(i==7):
        columns_to_export = ['Fecha.{}'.format(i-2), 'Hora.{}'.format(i-2), 'PORVL{}N{}'.format(i,i-6)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-6), phreatic_level_28w_df, columns_to_export)
    
    elif(i==8):
        columns_to_export = ['Fecha.{}'.format(i-2), 'Hora.{}'.format(i-2), 'PORVL{}N{}'.format(i,i-7)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-7), phreatic_level_28w_df, columns_to_export)
    
    elif(i==9):
        columns_to_export = ['Fecha.{}'.format(i-2), 'Hora.{}'.format(i-2), 'PORVL{}N{}'.format(i,i-8)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-8), phreatic_level_28w_df, columns_to_export)
    
    elif(i==10):
        columns_to_export = ['Fecha.{}'.format(i-2), 'Hora.{}'.format(i-2), 'PORVL{}N{}'.format(i,i-9)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-9), phreatic_level_28w_df, columns_to_export)
    
    elif(i==13):
        columns_to_export = ['Fecha.{}'.format(i-4), 'Hora.{}'.format(i-4), 'PORVL{}N{}'.format(i,i-12)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-12), phreatic_level_28w_df, columns_to_export)
    
    elif(i==14):
        columns_to_export = ['Fecha.{}'.format(i-4), 'Hora.{}'.format(i-4), 'PORVL{}N{}'.format(i,i-13)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-13), phreatic_level_28w_df, columns_to_export)
    
    elif(i==15):
        columns_to_export = ['Fecha.{}'.format(i-4), 'Hora.{}'.format(i-4), 'PORVL{}N{}'.format(i,i-14)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-14), phreatic_level_28w_df, columns_to_export)
    
    elif(i==16):
        # To N1
        columns_to_export = ['Fecha.{}'.format(i-4), 'Hora.{}'.format(i-4), 'PORVL{}N{}'.format(i,i-15)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-15), phreatic_level_28w_df, columns_to_export)
        # To N2
        columns_to_export_n2 = ['Fecha.{}'.format(i-3), 'Hora.{}'.format(i-3), 'PORVL{}N{}'.format(i,i-14)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-14), phreatic_level_28w_df, columns_to_export_n2)
    
    elif(i==18):
        # To N1
        columns_to_export = ['Fecha.{}'.format(i-4), 'Hora.{}'.format(i-4), 'PORVL{}N{}'.format(i,i-17)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-17), phreatic_level_28w_df, columns_to_export)
        # To N2
        columns_to_export = ['Fecha.{}'.format(i-3), 'Hora.{}'.format(i-3), 'PORVL{}N{}'.format(i,i-16)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-16), phreatic_level_28w_df, columns_to_export)
        # To N3
        columns_to_export = ['Fecha.{}'.format(i-2), 'Hora.{}'.format(i-2), 'PORVL{}N{}'.format(i,i-15)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-15), phreatic_level_28w_df, columns_to_export)
        # To N4
        columns_to_export = ['Fecha.{}'.format(i-1), 'Hora.{}'.format(i-1), 'PORVL{}N{}'.format(i,i-14)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-14), phreatic_level_28w_df, columns_to_export)
    
    elif(i==21):
        # To N1
        columns_to_export = ['Fecha.{}'.format(i-3), 'Hora.{}'.format(i-3), 'PORVL{}N{}'.format(i,i-20)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-20), phreatic_level_28w_df, columns_to_export)
        # To N2
        columns_to_export = ['Fecha.{}'.format(i-2), 'Hora.{}'.format(i-2), 'PORVL{}N{}'.format(i,i-19)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-19), phreatic_level_28w_df, columns_to_export)
        # To N3
        columns_to_export = ['Fecha.{}'.format(i-1), 'Hora.{}'.format(i-1), 'PORVL{}N{}'.format(i,i-18)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-18), phreatic_level_28w_df, columns_to_export)
        # To N4
        columns_to_export = ['Fecha.{}'.format(i), 'Hora.{}'.format(i), 'PORVL{}N{}'.format(i,i-17)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-17), phreatic_level_28w_df, columns_to_export)
        # To N5
        columns_to_export = ['Fecha.{}'.format(i+1), 'Hora.{}'.format(i+1), 'PORVL{}N{}'.format(i,i-16)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-16), phreatic_level_28w_df, columns_to_export)
    
    elif(i==24):
        # To N1
        columns_to_export = ['Fecha.{}'.format(i-1), 'Hora.{}'.format(i-1), 'PORVL{}N{}'.format(i,i-23)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-23), phreatic_level_28w_df, columns_to_export)
        # To N2
        columns_to_export = ['Fecha.{}'.format(i-2), 'Hora.{}'.format(i-2), 'PORVL{}N{}'.format(i,i-22)]
        partial_dataframe_to_csv("../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/PhreaticLevel_By_Lots-Nodes/PORVL{}N{}_portion.csv".format(i,i-22), phreatic_level_28w_df, columns_to_export)
        
        break
        
print("Datasets by lots, nodes values per day finished. ")

Datasets by lots, nodes values per day finished.