In [1]:
from __future__ import unicode_literals

import pandas as pd
import numpy as np

# 1. Loading phreatic level datasets by lots, nodes per day values.

## 1.1  Loading L2N1

In [2]:
phreatic_level_l2n1_28w_df = pd.read_csv('../../../../data/interim/PhreaticLevel/28-weeks_January-12_August-03_2018/' \
                                 'PhreaticLevel_By_Lots-Nodes/PORVL2N1_portion.csv', )

In [3]:
print(phreatic_level_l2n1_28w_df.shape)
phreatic_level_l2n1_28w_df.head()

(4880, 3)

        Fecha      Hora  PORVL2N1
0  2018-01-12  01:37:47      0.65
1  2018-01-12  02:37:45      0.65
2  2018-01-12  03:37:50      0.64
3  2018-01-12  04:37:44      0.63
4  2018-01-12  05:37:45      0.61

In [7]:
# We turn to datetime the Fecha column values 
# https://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.to_datetime.html
phreatic_level_l2n1_28w_df['Fecha'] = pd.to_datetime(phreatic_level_l2n1_28w_df['Fecha'])

# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html?highlight=groupby#pandas.DataFrame.groupby
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Grouper.html
# We group the dataframe phreatic_level_l2n1_28w_df the column Fecha: (se la decimos con Grouper)
# with a frecuency of D calendar days generating to each day the temperature average value
phreatic_level_l2n1_28w_average_per_day = (phreatic_level_l2n1_28w_df.groupby(pd.Grouper(key='Fecha', freq='D'))['PORVL2N1'].mean().reset_index())

In [8]:
print(phreatic_level_l2n1_28w_average_per_day.shape)
phreatic_level_l2n1_28w_average_per_day

(204, 2)

         Fecha  PORVL2N1
0   2018-01-12  0.519130
1   2018-01-13  0.138750
2   2018-01-14  0.175417
3   2018-01-15  0.111667
4   2018-01-16  0.291250
5   2018-01-17  0.335385
6   2018-01-18  0.161250
7   2018-01-19  0.176250
8   2018-01-20  0.323333
9   2018-01-21  0.518333
10  2018-01-22  0.582083
11  2018-01-23  0.416667
12  2018-01-24  0.311250
13  2018-01-25  0.518333
14  2018-01-26  0.596667
15  2018-01-27  0.633333
16  2018-01-28  0.664167
17  2018-01-29  0.691250
18  2018-01-30  0.719167
19  2018-01-31  0.740000
20  2018-02-01  0.764167
21  2018-02-02  0.666667
22  2018-02-03  0.635000
23  2018-02-04  0.651667
24  2018-02-05  0.667917
25  2018-02-06  0.684583
26  2018-02-07  0.698750
27  2018-02-08  0.710833
28  2018-02-09  0.721250
29  2018-02-10  0.732083
..         ...       ...
174 2018-07-05  0.816667
175 2018-07-06  0.626667
176 2018-07-07  0.754583
177 2018-07-08  0.822083
178 2018-07-09  0.858333
179 2018-07-10  0.453333
180 2018-07-11  0.470000
181 2018-07-12  0.739583
182 2018-07-13  0.803333
183 2018-07-14  0.828750
184 2018-07-15  0.808750
185 2018-07-16  0.635833
186 2018-07-17  0.760417
187 2018-07-18  0.822500
188 2018-07-19  0.836667
189 2018-07-20  0.802500
190 2018-07-21  0.850833
191 2018-07-22  0.851538
192 2018-07-23  0.878750
193 2018-07-24  0.897917
194 2018-07-25  0.892083
195 2018-07-26  0.910833
196 2018-07-27  0.905000
197 2018-07-28  0.897500
198 2018-07-29  0.663750
199 2018-07-30  0.630417
200 2018-07-31  0.609583
201 2018-08-01  0.533333
202 2018-08-02  0.470833
203 2018-08-03  0.713333

[204 rows x 2 columns]