In [1]:
from __future__ import unicode_literals

import pandas as pd
import numpy as np

In [2]:
precipitations_l12w_df = pd.read_csv('../../../../data/raw/FincaPorvenir/Metereologico/Latest_12-weeks_May-4_August-03_2018/' \
                                 'Precipitacion_May-4_August-03_2018.csv', )

In [3]:
print(precipitations_l12w_df.shape)
precipitations_l12w_df.head()

(4397, 2)

                Fecha:  Precipitación (ml)
0  2018-05-04 00:07:38                 0.0
1  2018-05-04 00:37:39                 0.0
2  2018-05-04 01:07:38                 0.0
3  2018-05-04 01:37:38                 0.0
4  2018-05-04 02:07:38                 0.0

- We going to generate in only one dataframe one record per day of precipitations values, performing an average of the values per day.

In [4]:
# We turn to datetime the Fecha column values 
# https://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.to_datetime.html
precipitations_l12w_df['Fecha:'] = pd.to_datetime(precipitations_l12w_df['Fecha:'])

# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html
# We use resample() function to use the data like time series per day and we pass the
# Fecha: column at the on parameter and we add the Precipitación (ml) column which we add the 
# average of each one

precipitations_l12w_average_per_day = precipitations_l12w_df.resample('D', on='Fecha:')['Precipitación (ml)'].mean().reset_index()

In [5]:
print(precipitations_l12w_average_per_day.shape)
precipitations_l12w_average_per_day

(92, 2)

       Fecha:  Precipitación (ml)
0  2018-05-04            0.000000
1  2018-05-05            0.259792
2  2018-05-06            0.048333
3  2018-05-07            1.116458
4  2018-05-08            0.024167
5  2018-05-09            0.166596
6  2018-05-10            0.327708
7  2018-05-11            0.030208
8  2018-05-12            0.030208
9  2018-05-13            0.000000
10 2018-05-14            0.114792
11 2018-05-15            0.000000
12 2018-05-16            0.024167
13 2018-05-17            0.000000
14 2018-05-18            0.326250
15 2018-05-19            0.205417
16 2018-05-20            0.000000
17 2018-05-21            0.078542
18 2018-05-22            0.146122
19 2018-05-23            0.316531
20 2018-05-24            0.000000
21 2018-05-25            0.000000
22 2018-05-26            0.036250
23 2018-05-27            0.163265
24 2018-05-28            0.000000
25 2018-05-29            0.000000
26 2018-05-30            0.387551
27 2018-05-31            0.000000
28 2018-06-01            0.212667
29 2018-06-02            0.000000
..        ...                 ...
62 2018-07-05            0.338333
63 2018-07-06            0.000000
64 2018-07-07            0.000000
65 2018-07-08            0.000000
66 2018-07-09            0.000000
67 2018-07-10            2.129167
68 2018-07-11            0.108750
69 2018-07-12            0.000000
70 2018-07-13            0.000000
71 2018-07-14            0.054375
72 2018-07-15            0.410833
73 2018-07-16            0.000000
74 2018-07-17            0.000000
75 2018-07-18            0.000000
76 2018-07-19            0.000000
77 2018-07-20            0.000000
78 2018-07-21            0.000000
79 2018-07-22            0.000000
80 2018-07-23            0.000000
81 2018-07-24            0.000000
82 2018-07-25            0.067872
83 2018-07-26            0.024167
84 2018-07-27            0.000000
85 2018-07-28            0.024167
86 2018-07-29            0.084583
87 2018-07-30            0.483333
88 2018-07-31            0.000000
89 2018-08-01            0.875625
90 2018-08-02            0.000000
91 2018-08-03            0.000000

[92 rows x 2 columns]

In [6]:
# We export the precipitations_l12w_average_per_day dataframe to .csv file
precipitations_l12w_average_per_day.to_csv('../../../../data/interim/Precipitations/Latest_12-weeks_May-4_August-03_2018/' +'\n' 
                                  'Precipitations_Average_per-day_May-4_August-03.csv', sep=',', header=True, index=False)