In [1]:
from __future__ import unicode_literals

import pandas as pd
import numpy as np

In [4]:
precipitations_28w_df = pd.read_csv('../../../../data/raw/FincaPorvenir/Metereologico/28-weeks_January-12_August-03_2018/' \
                                 'Precipitaciones_January-12_August-03_2018.csv', )

In [5]:
print(precipitations_28w_df.shape)
precipitations_28w_df.head()

(9750, 2)

                Fecha:  Precipitación (ml)
0  2018-01-12 00:17:28                0.00
1  2018-01-12 00:47:28                0.00
2  2018-01-12 01:17:27                0.00
3  2018-01-12 01:47:27                0.00
4  2018-01-12 02:17:27                3.19

- We going to generate in only one dataframe one record per day of precipitations values, performing an average of the values per day.

In [6]:
# We turn to datetime the Fecha column values 
# https://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.to_datetime.html
precipitations_28w_df['Fecha:'] = pd.to_datetime(precipitations_28w_df['Fecha:'])

# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html
# We use resample() function to use the data like time series per day and we pass the
# Fecha: column at the on parameter and we add the Precipitación (ml) column which we add the 
# average of each one

precipitations_28w_average_per_day = precipitations_28w_df.resample('D', on='Fecha:')['Precipitación (ml)'].mean().reset_index()

In [8]:
print(precipitations_28w_average_per_day.shape)
precipitations_28w_average_per_day

(204, 2)

        Fecha:  Precipitación (ml)
0   2018-01-12            0.850000
1   2018-01-13            0.181250
2   2018-01-14            0.344375
3   2018-01-15            0.435000
4   2018-01-16            0.006042
5   2018-01-17            0.368958
6   2018-01-18            0.018511
7   2018-01-19            0.314167
8   2018-01-20            0.000000
9   2018-01-21            0.012083
10  2018-01-22            0.000000
11  2018-01-23            0.090625
12  2018-01-24            0.030208
13  2018-01-25            0.000000
14  2018-01-26            0.000000
15  2018-01-27            0.000000
16  2018-01-28            0.000000
17  2018-01-29            0.000000
18  2018-01-30            0.006042
19  2018-01-31            0.012083
20  2018-02-01            0.000000
21  2018-02-02            0.006042
22  2018-02-03            0.000000
23  2018-02-04            0.000000
24  2018-02-05            0.000000
25  2018-02-06            0.000000
26  2018-02-07            0.000000
27  2018-02-08            0.000000
28  2018-02-09            0.000000
29  2018-02-10            0.000000
..         ...                 ...
174 2018-07-05            0.338333
175 2018-07-06            0.000000
176 2018-07-07            0.000000
177 2018-07-08            0.000000
178 2018-07-09            0.000000
179 2018-07-10            2.129167
180 2018-07-11            0.108750
181 2018-07-12            0.000000
182 2018-07-13            0.000000
183 2018-07-14            0.054375
184 2018-07-15            0.410833
185 2018-07-16            0.000000
186 2018-07-17            0.000000
187 2018-07-18            0.000000
188 2018-07-19            0.000000
189 2018-07-20            0.000000
190 2018-07-21            0.000000
191 2018-07-22            0.000000
192 2018-07-23            0.000000
193 2018-07-24            0.000000
194 2018-07-25            0.067872
195 2018-07-26            0.024167
196 2018-07-27            0.000000
197 2018-07-28            0.024167
198 2018-07-29            0.084583
199 2018-07-30            0.483333
200 2018-07-31            0.000000
201 2018-08-01            0.875625
202 2018-08-02            0.000000
203 2018-08-03            0.000000

[204 rows x 2 columns]

In [9]:
# We export the precipitations_28w_average_per_day dataframe to .csv file
precipitations_28w_average_per_day.to_csv('../../../../data/interim/Precipitations/28-weeks_January-12_August-03_2018/' +'\n' 
                                  'Precipitations_Average_per-day_January-12_August-03.csv', sep=',', header=True, index=False)